.itemWrapper {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.buttonDelete {
    font-weight: 400;
    border-radius: 20px;
    height: 25px;
    background-color: rgb(86, 27, 137);
    color: aliceblue;
    border: none;
    width: 100px;
}